.bg-light {
    //background-image: url("../image/bg/be.jpg");
    background-size: cover;
}

i:hover {
    cursor: pointer;
}

.modal-header {
    background-color: cornflowerblue;
}

.modal-footer {
    background-color: azure;
}

.header {
    background-color: #00A3C7;
    height: 50px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i.fa-stack-overflow {

        font-size: 2pc;
        color: white;
    }

    i.fa-search {
        position: absolute;
        color: white;
        top: 15px;
        left: 40.5%;
    }

    div.top-right {
        margin-right: 150px;

        ul {
            display: flex;
            float: right;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 15px;

                i {
                    color: white;
                }
            }
        }
    }
}

.menu-button-open {
    transform: rotate(90deg);
}

.colapse-close {
    //display: none;
    opacity: 0;
    transform: translate3d(-160px, 0, 0);
    transition: opacity 0.8s, transform 0.8s;
    //transition-timing-function: cubic-bezier(.17,.67,.1,1.27);
    transition-delay: 0.2s;
}

.colapse-open {
    display: block;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: opacity 0.8s, transform 0.8s;
    transition-delay: 0.4s;
}

div.colapse {

    position: absolute;
    display: inline-block;
    //transition: all 0.5s;
    padding: 20px 0 0 150px;
    height: 100%;
    border-right: 1px solid #f1f1f1;

    ul {
        list-style: none;
        padding: 0;

        li:hover {
            cursor: pointer;
        }

        li.men {
            border-bottom: 1px solid #d4d4d4;
        }

        li {
            //left: -150%;
            //position: relative;
            transition: all 0.8s;
            width: 300px;
            padding: 10px 10px 10px 15px;

            i {
                font-size: 18px;
                color: #6c757d;
                margin-right: 10px;
            }

            i.fa-caret-right {
                margin: 0 15px 0 5px;
            }

            .cllose {
                display: none;
            }

            .open {
                display: block;

            }

            ul {
                li {
                    width: auto;

                }
            }
        }
    }

    li:hover {
        background-color: white;
    }
}

// Login
/* Button 3 */
.btn-3 {
    background: #00A3C7;
    color: #fff;
}

.btn-3:hover {
    background: #239FBB;
}

.btn-3:active {
    background: #239FBB;

}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    //width: 60px;
}

//navbardropdown
div.dropdwn {
    background-color: cornflowerblue;
}

#navbarDropdown {
    color: white;
    padding-top: 0;

}

.dropdwn > h6 {
    margin: 0;
    padding: 5px 20px;
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
    background-color: white;

}

/* Button 3e */
.btn-3e {
    //margin-top: 10px;
    //margin-left: 15px;
    padding: 5px 10px;
    overflow: hidden;

    a {
        color: white;
        text-decoration: none;
    }
}

.btn-3e:before {
    left: auto;
    right: 10px;
    z-index: 2;
}

.btn-3e:after {
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

.btn-3e:hover:after {
    width: 40%;
}

.collapse ul {
    margin-left: 100px;
}

.colmen {
    list-style: none;
    color: black;
}

div.loginCon {
    margin-left: 18%;
}

////
////button.btn-primary{
////  background-color: #f47c2c;
////  margin-top: 3%;
////  margin-left: 3%;
////}
div img {
    //margin-top: 20px;
}

div > img {
    border-radius: 50%;
}

.fa-plus-square {
    float: right;
}

div.loginBg {
    margin-top: 30px;
    width: 500px;
    height: 480px;
    margin-left: 25%;
    background-color: #f8f9fa;
    border-radius: 5%;
}

.error {
    margin-top: 10px;
    display: block;
    padding: 10px;
}

div.con {
    border-radius: 5%;
    position: relative;
    top: 80px;
    left: 45%;
    padding: 10px 50px;
    background-color: #f8f9fa;

    div {
        form {
            button {
                background-color: #fcad26;
            }
        }
    }
}

.col-md-12 input[type] {
    padding-left: 35px;
}

.col-md-12 {
    position: relative;

}

.col-md-12 i {
    position: absolute;
    top: 43px;
    left: 18px;
    color: #aaa;
    transition: .3s;
}

.col-md-12 .form-control:focus + i {
    color: dodgerblue !important;
}

.welcome {
    padding-top: 30px;
    border-bottom: 1px solid;
    position: relative;

}

.fa-comment-alt {
    float: right;
    margin-right: 20px;
}

.fa-ellipsis-h {
    float: right;
}

section {
    position: absolute;
    left: 33.5%;
    width: 600px;
    height: 100%;
    background-color: white;
}

#alarm {
    width: 120px;
}

#timePicker {
    width: 120px;
    float: right;
}

.error_newTask {
    display: none;
    position: absolute !important;
    left: 30%;
}

.table {
    a {
        color: black;
    }

    a:hover {
        color: #FF9000;
    }
}


//Task Menu Toggle

.taskMen:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    //border-top: .3em solid;
    //border-right: .3em solid transparent;
    //border-bottom: 0;
    //border-left: .3em solid transparent
}

.taskMen:empty:after {
    margin-left: 0
}


.taskMen {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 1.125rem 0 0;
    font-size: .6rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;

    ul {
        margin: 0;
        padding-left: 25px;
        list-style: none;

        li {
            list-style: none;

        }
    }
}

.logo_brand {
    width: 20%;
    padding-left: 4%;
    text-align: center;
}

.search_box_place {
    width: 30%;
    margin-left: 130px;
}

// search

.searchbox {
    position: relative;
    left: 80%;
    min-width: 30px;
    width: 0%;
    height: 50px;
    //overflow:hidden;

    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input {
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: #dcddd8;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding-left: 15px;
    border-radius: 27px;
    font-size: 14px;
    color: #858585;
}

.searchbox-input::-webkit-input-placeholder {
    color: #858585;
}

.searchbox-input:-moz-placeholder {
    color: #858585;
}

.searchbox-input::-moz-placeholder {
    color: #858585;
}

.searchbox-input:-ms-input-placeholder {
    color: #858585;
}

.searchbox-icon,
.searchbox-submit {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    display: block;
    position: absolute;
    top: 0;
    //font-family:verdana;
    right: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    outline: 0;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: #dcddd8;
    background: #f1f1f1;

    img {
        margin-top: -2px;
    }
}


.searchbox-open {
    width: 100%;
}

.byline {
    position: absolute;
    top: 150px;
    left: 30%;
    text-align: center;
    font-size: 14px;
}

.byline a {
    text-decoration: none;
    color: #d74b4b;
}


//Slidebar


/* Menu Button */
.menu-button {
    position: absolute;
    left: 11.5%;
    z-index: 1000;
    color: white;
    //margin: 1em;
    //padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    text-indent: 2.5em;
    //font-size: 1.5em;
    color: transparent;
    background: transparent;
}

.menu-button::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
    content: '';
}

.menu-button:hover {
    opacity: 0.6;
}

.menu-button:focus {
    outline: none;
}

/* Close Button */
.dropdown {
    .notification_icon {
        position: relative;

        .not_position {
            position: absolute;
            top: -25px;
            left: 8px;
            background: red;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            font-size: 9px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.dropdown-menu.dropdwn.show {
    top: -7px !important;
    left: -237px !important;
    border-radius: 5px;
    padding: 20px 0 0 0;
    width: 300px;
    margin: 20px 0;

    h5 {
        margin-left: 10px;
    }

    span:hover {
        background-color: #6c757d2b;
    }

    span {
        display: block;
        padding: 15px 25px;
        border-bottom: 1px solid #6c757d66;
        padding-bottom: 10px;
        background-color: white;

        i {
            font-size: smaller;
            color: black;
            padding-right: 5px;
        }

        h6 {
            margin-bottom: 0;
        }

        small {
            font-size: 10px;
        }
    }
}

//Preloader mail
.send_mail:hover {
    color: orange;
    cursor: pointer;

}


// setting bars setting page

.settingHeaderBar {
    background-color: #b0d4f1;
    width: 100vw;
    height: 115px;

    a.arrowDiv {
        position: absolute;
        left: 25px;
        top: 25px;
        border-radius: 4rem;
        background-color: dodgerblue;
        width: 100px;
        height: 75px;
        padding: 10px;

        .arrowButton {

            .arrow {
                position: relative;
                background: whitesmoke;
                margin-left: 15px;
                margin-top: 25px;
                width: 3rem;
                height: 0.3rem;
                transition: 0.5s;
                border-radius: 1rem;
                transform-origin: right center;
            }

            .arrow:before {
                transform: rotate(-30deg);
            }

            .arrow:after {
                transform: rotate(30deg);
            }

            .arrow:before, .arrow:after {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                background: whitesmoke;
                width: 1.5rem;
                height: 0.3rem;
                transform-origin: 0.2rem center;
                transition: 0.5s;
                border-radius: 1rem;
            }

            .arrowSwitch .arrow:before, .arrowSwitch .arrow:after {
                left: 3.8rem;
            }

            .arrowSwitch .arrow:before {
                transform: rotate(90deg);
            }

            .arrowSwitch .arrow:after {
                transform: rotate(-90deg);
            }
        }

        &:active {
            background: #005db7;
            transition: 0s;
        }
    }
}

.settingBar {
    border-radius: 5px;
    border: solid 1px whitesmoke;
    box-shadow: 10px 10px 20px -8px rgba(136, 136, 136, 1);
    position: absolute;
    left: 41%;
    top: 7%;
    .settingBarHead {
        text-align: center;
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 10px;
        }
    }

    .settingBarBody {
        padding: 10px;
    }

    .settingBarFoot {
        padding: 10px;
    }
}


// Profile page

.settingProfile {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 1030px;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 10px;

    box-shadow: 10px 10px 20px -8px rgba(136, 136, 136, 1);

    .profileImage {

        border-radius: 10px;
        width: 250px;
        height: 100%;
        padding: 25px;
        background-image: url("../image/bg/sky.jpg");
        background-size: cover;

        div.divAvatar {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            margin-top: 60px;
            background-color: white;

            img {
                height: 200px;
                width: 200px;
                object-fit: contain;
            }
        }

        .imageInput {
            display: none;

            label {
                //border: solid 1px;
                border-radius: 50%;
                background-color: #b0d4f1;
                padding: 10px;
                position: absolute;
                left: 15%;
                top: 50%;

                img {
                    width: 20px;
                }
            }

            label:hover {
                cursor: pointer;
            }


            input {
                display: none;
            }
        }
    }

    .profileInfo {
        position: absolute;
        //border: solid;
        padding: 20px;
        top: 0%;
        left: 24%;
        width: 76%;
        height: 470px;
        display: flex;

        h5 {
            margin: 10px;
        }

        ul {
            margin: 20px;
            font-size: 18px;

            li {
                margin: 20px;
                size: 25px;
            }

            li.name {
                list-style-image: url("../image/seticon/name.svg");
            }

            li.surname {
                list-style-image: url("../image/seticon/surname.svg");
            }

            li.email {
                list-style-image: url("../image/seticon/email.svg");
            }

            li.age {
                list-style-image: url("../image/seticon/age.svg");
            }

            li.location {
                list-style-image: url("../image/seticon/location.svg");
            }

            li.sex {
                list-style-image: url("../image/seticon/gender.svg");
            }

            li.phone {
                list-style-image: url("../image/seticon/phone.svg");
            }
        }

        ul.infoInput {
            position: relative;
            list-style: none;
            padding: 0;

            li {
                min-height: 28px;

            }

        }

        ul.infoInput:before {
            position: absolute;
            display: block;
            content: '';
            background: lightgray;
            width: 261px;
            bottom: 200px;
            height: 1px;
            left: -90%;
            transform: rotate(90deg);
        }

        span.btn {
            position: absolute;
            bottom: 0;
            right: 5%;
        }


    }

    div.profileEdit {
        position: absolute;
        top: 10%;
        left: 52%;
        width: 480px;
        display: none;

        input {
            margin: 10px;
        }

        span {

            float: right;
            margin-right: 10px;
            margin-top: 44px;

        }

        button {
            float: right;
            margin-right: 10px;
            margin-top: 44px;
        }

        button.editBtn {
            margin-right: 20px;
        }
    }
}

.changePassDiv {
    width: 500px;
    height: auto;
    padding-bottom: 20px;
    border: solid 1px whitesmoke;
    margin-left: 30%;
    border-radius: 5px;
    box-shadow: 10px 10px 20px -8px rgba(136, 136, 136, 1);

    h4 {
        margin-top: 5%;
        margin-left: 30%;
        margin-bottom: 0;
    }

    form {
        margin: 5% 0 0 30%;

        input {

        }

        button {
            margin-top: 20px;
        }
    }
}


//setting button

.proflieButtonOne{
    background-color: whitesmoke;
    color: black;
    &:hover{
        color: black;
        background-color: #a8a7a7;
        text-decoration: none;
    }
}
.proflieButtonOne:after,
.proflieButtonOne:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#b0d4f1, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.proflieButtonOne:hover:after,
.proflieButtonOne:hover:before {
    backface-visibility: hidden;
    border-color: #b0d4f1;
    transition: width 350ms ease-in-out;
    width: 70%;
}

//Delete Error .

#deleteError{
    top: 400px;
    width: 500px;
    margin: 0 auto;
}
