.bg-light {
  background-image: url("../image/bg/be.jpg");
  background-size: cover; }

i:hover {
  cursor: pointer; }

.modal-header {
  background-color: cornflowerblue; }

.modal-footer {
  background-color: azure; }

.header {
  background-color: #00A3C7;
  height: 50px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header i.fa-stack-overflow {
    font-size: 2pc;
    color: white; }
  .header i.fa-search {
    position: absolute;
    color: white;
    top: 15px;
    left: 40.5%; }
  .header div.top-right {
    margin-right: 150px; }
    .header div.top-right ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      float: right;
      list-style: none;
      padding: 0;
      margin: 0; }
      .header div.top-right ul li {
        margin: 15px; }
        .header div.top-right ul li i {
          color: white; }

.menu-button-open {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.colapse-close {
  opacity: 0;
  -webkit-transform: translate3d(-160px, 0, 0);
  transform: translate3d(-160px, 0, 0);
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  -o-transition: opacity 0.8s, transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
  transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.colapse-open {
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  -o-transition: opacity 0.8s, transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
  transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s; }

div.colapse {
  position: absolute;
  display: inline-block;
  padding: 20px 0 0 150px;
  height: 100%;
  border-right: 1px solid #f1f1f1; }
  div.colapse ul {
    list-style: none;
    padding: 0; }
    div.colapse ul li:hover {
      cursor: pointer; }
    div.colapse ul li.men {
      border-bottom: 1px solid #d4d4d4; }
    div.colapse ul li {
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s;
      width: 300px;
      padding: 10px 10px 10px 15px; }
      div.colapse ul li i {
        font-size: 18px;
        color: #6c757d;
        margin-right: 10px; }
      div.colapse ul li i.fa-caret-right {
        margin: 0 15px 0 5px; }
      div.colapse ul li .cllose {
        display: none; }
      div.colapse ul li .open {
        display: block; }
      div.colapse ul li ul li {
        width: auto; }
  div.colapse li:hover {
    background-color: white; }

/* Button 3 */
.btn-3 {
  background: #00A3C7;
  color: #fff; }

.btn-3:hover {
  background: #239FBB; }

.btn-3:active {
  background: #239FBB;
  top: 2px; }

.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%; }

div.dropdwn {
  background-color: cornflowerblue; }

#navbarDropdown {
  color: white;
  padding-top: 0; }

.dropdwn > h6 {
  margin: 0;
  padding: 5px 20px;
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
  background-color: white; }

/* Button 3e */
.btn-3e {
  padding: 5px 10px;
  overflow: hidden; }
  .btn-3e a {
    color: white;
    text-decoration: none; }

.btn-3e:before {
  left: auto;
  right: 10px;
  z-index: 2; }

.btn-3e:after {
  width: 30%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-20deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-20deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-20deg);
  transform-origin: 0 0;
  transform: rotate(-20deg); }

.btn-3e:hover:after {
  width: 40%; }

.collapse ul {
  margin-left: 100px; }

.colmen {
  list-style: none;
  color: black; }

div.loginCon {
  margin-left: 18%; }

div > img {
  border-radius: 50%; }

.fa-plus-square {
  float: right; }

div.loginBg {
  margin-top: 30px;
  width: 500px;
  height: 480px;
  margin-left: 25%;
  background-color: #f8f9fa;
  border-radius: 5%; }

.error {
  margin-top: 10px;
  display: block;
  padding: 10px; }

div.con {
  border-radius: 5%;
  position: relative;
  top: 80px;
  left: 45%;
  padding: 10px 50px;
  background-color: #f8f9fa; }
  div.con div form button {
    background-color: #fcad26; }

.col-md-12 input[type] {
  padding-left: 35px; }

.col-md-12 {
  position: relative; }

.col-md-12 i {
  position: absolute;
  top: 43px;
  left: 18px;
  color: #aaa;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.col-md-12 .form-control:focus + i {
  color: dodgerblue !important; }

.welcome {
  padding-top: 30px;
  border-bottom: 1px solid;
  position: relative; }

.fa-comment-alt {
  float: right;
  margin-right: 20px; }

.fa-ellipsis-h {
  float: right; }

section {
  position: absolute;
  left: 33.5%;
  width: 600px;
  height: 100%;
  background-color: white; }

#alarm {
  width: 120px; }

#timePicker {
  width: 120px;
  float: right; }

.error_newTask {
  display: none;
  position: absolute !important;
  left: 30%; }

.table a {
  color: black; }

.table a:hover {
  color: #FF9000; }

.taskMen:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: ""; }

.taskMen:empty:after {
  margin-left: 0; }

.taskMen {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 1.125rem 0 0;
  font-size: .6rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem; }
  .taskMen ul {
    margin: 0;
    padding-left: 25px;
    list-style: none; }
    .taskMen ul li {
      list-style: none; }

.logo_brand {
  width: 20%;
  padding-left: 4%;
  text-align: center; }

.search_box_place {
  width: 30%;
  margin-left: 130px; }

.searchbox {
  position: relative;
  left: 80%;
  min-width: 30px;
  width: 0%;
  height: 50px;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s; }

.searchbox-input {
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: #dcddd8;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding-left: 15px;
  border-radius: 27px;
  font-size: 14px;
  color: #858585; }

.searchbox-input::-webkit-input-placeholder {
  color: #858585; }

.searchbox-input:-moz-placeholder {
  color: #858585; }

.searchbox-input::-moz-placeholder {
  color: #858585; }

.searchbox-input:-ms-input-placeholder {
  color: #858585; }

.searchbox-icon,
.searchbox-submit {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  outline: 0;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #dcddd8;
  background: #f1f1f1; }
  .searchbox-icon img,
  .searchbox-submit img {
    margin-top: -2px; }

.searchbox-open {
  width: 100%; }

.byline {
  position: absolute;
  top: 150px;
  left: 30%;
  text-align: center;
  font-size: 14px; }

.byline a {
  text-decoration: none;
  color: #d74b4b; }

/* Menu Button */
.menu-button {
  position: absolute;
  left: 11.5%;
  z-index: 1000;
  color: white;
  width: 2.5em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  color: transparent;
  background: transparent; }

.menu-button::before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #fff), color-stop(60%, #fff), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #fff));
  background: -webkit-linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
  background: -o-linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
  background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
  content: ''; }

.menu-button:hover {
  opacity: 0.6; }

.menu-button:focus {
  outline: none; }

/* Close Button */
.dropdown .notification_icon {
  position: relative; }
  .dropdown .notification_icon .not_position {
    position: absolute;
    top: -25px;
    left: 8px;
    background: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 9px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.dropdown-menu.dropdwn.show {
  top: -7px !important;
  left: -237px !important;
  border-radius: 5px;
  padding: 20px 0 0 0;
  width: 300px;
  margin: 20px 0; }
  .dropdown-menu.dropdwn.show h5 {
    margin-left: 10px; }
  .dropdown-menu.dropdwn.show span:hover {
    background-color: #6c757d2b; }
  .dropdown-menu.dropdwn.show span {
    display: block;
    padding: 15px 25px;
    border-bottom: 1px solid #6c757d66;
    padding-bottom: 10px;
    background-color: white; }
    .dropdown-menu.dropdwn.show span i {
      font-size: smaller;
      color: black;
      padding-right: 5px; }
    .dropdown-menu.dropdwn.show span h6 {
      margin-bottom: 0; }
    .dropdown-menu.dropdwn.show span small {
      font-size: 10px; }

.send_mail:hover {
  color: orange;
  cursor: pointer; }

.settingHeaderBar {
  background-color: #1d2124;
  height: 100px; }
