@media (max-width: 860px) {
  .colapse-open {
    z-index: 2;
    text-align: center; }
  .taskMen {
    left: -180px; }
  .fa-comment-alt {
    margin-right: 0;
    color: white; }
  table.table th {
    border: none; }
  table.table thead {
    border: 0; }
    table.table thead th {
      border: none; }
  .header {
    height: 100px; }
    .header div.top-right {
      margin-right: 0;
      width: 100%; }
      .header div.top-right ul {
        padding: 40px; }
        .header div.top-right ul li .dropdwn {
          -webkit-transform: translate3d(-15px, 30px, 0px) !important;
          transform: translate3d(-15px, 30px, 0px) !important; }
          .header div.top-right ul li .dropdwn span i {
            font-size: medium; }
          .header div.top-right ul li .dropdwn span small {
            font-size: 15px; }
          .header div.top-right ul li .dropdwn span h6 {
            font-size: 1.1rem; }
          .header div.top-right ul li .dropdwn h5 {
            font-size: 1.5rem; }
        .header div.top-right ul li .notification_icon > .not_position {
          top: -38px;
          left: 17px;
          width: 17px;
          height: 17px;
          font-size: 13px; }
        .header div.top-right ul li i {
          font-size: 30px; }
  .menu-button::before {
    font-size: 0; }
  .menu-button {
    left: 30px; }
  .search_box_place {
    display: none; }
  section {
    background-image: url("../image/bg/smallbg.jpg");
    background-size: cover;
    background-position-x: 30%;
    color: white;
    left: 0;
    width: 100%; }
    section .container {
      max-width: none; }
      section .container div {
        font-size: x-large; }
      section .container div.welcome select {
        padding: 5px;
        background-color: cornflowerblue;
        border-radius: 5px;
        color: white; }
      section .container div.welcome h4 {
        font-size: 2.35rem; }
  div.colapse {
    width: 100%;
    padding: 25px 0; }
    div.colapse ul li {
      font-size: x-large;
      width: auto; }
      div.colapse ul li a {
        text-transform: uppercase;
        letter-spacing: 1px; }
      div.colapse ul li i {
        display: none; }
  .settingHeaderBar a.arrowDiv {
    z-index: 2;
    width: 70px;
    height: 70px; }
    .settingHeaderBar a.arrowDiv .arrowButton .arrow {
      margin-left: 1px;
      margin-top: 22px; }
  .changePassDiv {
    width: unset;
    margin-left: unset; }
    .changePassDiv form {
      margin: 25px; }
  .settingBar {
    left: 25%; }
  .settingProfile {
    width: unset;
    height: 650px;
    left: 4%; }
    .settingProfile div.profileEdit {
      top: 37%;
      left: 41%;
      width: 180px; }
      .settingProfile div.profileEdit .btn {
        margin-top: unset; }
    .settingProfile div.profileImage {
      width: 360px;
      height: 100%;
      padding: 20px 50px 0 80px; }
      .settingProfile div.profileImage div.divAvatar {
        border-radius: 50%;
        -o-object-fit: contain;
        object-fit: contain;
        margin-top: unset; }
        .settingProfile div.profileImage div.divAvatar img.avatar {
          width: 200px;
          height: 200px;
          -o-object-fit: contain;
          object-fit: contain;
          margin-top: unset; }
      .settingProfile div.profileImage .imageInput > label {
        left: 60%;
        top: 28%; }
    .settingProfile .profileInfo {
      padding: unset;
      left: 0;
      top: 35%; }
      .settingProfile .profileInfo span.btn {
        left: 93%;
        width: 50px;
        bottom: 17%; }
      .settingProfile .profileInfo ul {
        margin: unset; }
      .settingProfile .profileInfo ul.infoInput:before {
        content: unset; } }

@media (max-width: 600px) {
  div.datedropper {
    left: 50% !important;
    top: 12% !important; }
  div.datedropper:before {
    content: none; }
  .td-wrap > div.td-clock {
    top: 18% !important;
    left: 34.5% !important; }
  .td-clock:before {
    content: none !important; }
  section {
    position: unset; }
  section .container div {
    font-size: unset; }
  .header div.top-right ul li i {
    font-size: 20px; }
  .header div.top-right ul li .notification_icon > .not_position {
    top: -30px;
    left: 12px;
    width: 13px;
    height: 13px;
    font-size: 9px; }
  .header div.top-right ul {
    padding: 0px; }
  .header div.top-right ul li:last-child {
    margin-right: 0; }
  .header div.top-right ul li:last-child .nav-link {
    padding: .5rem 0rem; }
  .taskMen {
    left: -120px; }
  div.top-right ul li i {
    font-size: 18px; }
  table tr td {
    padding: 12px 5px !important; } }
